[Desktop Entry]
Version=1.0
Type=Application
Name=Sevensquare
Name[es]=Sevensquare
Name[fr]=Sevensquare
Name[de]=Sevensquare
Name[it]=Sevensquare
Name[pt]=Sevensquare
Name[ru]=Sevensquare
Name[ja]=Sevensquare
Name[ko]=Sevensquare
Name[zh-CN]=Sevensquare
Name[tr]=Sevensquare
Name[pl]=Sevensquare
Name[sv]=Sevensquare
Name[fi]=Sevensquare
Name[no]=Sevensquare
Name[el]=Sevensquare
Name[cs]=Sevensquare
Name[hu]=Sevensquare
Name[uk]=Sevensquare
Name[hr]=Sevensquare
Name[sr]=Sevensquare
Name[lv]=Sevenskvērs
Name[et]=Sevensquare
Name[ca]=Sevensquare
Icon=/usr/share/pixmaps/sevensquare_icon.png
Exec=/usr/bin/seven-square
Path=/usr/bin/
NoDisplay=false
Categories=Electronics;Development;
StartupNotify=true
Terminal=false
Comment=Android screencast utility
Comment[es]=Utilidad de screencast para Android
Comment[fr]=Utilitaire de screencast Android
Comment[de]=Android Screencast-Dienstprogramm
Comment[it]=Utilità screencast Android
Comment[pt]=Utilitário de screencast para Android
Comment[ru]=Утилита скринкаста Android
Comment[ja]=Androidスクリーンキャストユーティリティ
Comment[ko]=Android 스크린캐스트 유틸리티
Comment[zh-CN]=Android屏幕录制实用程序
Comment[tr]=Android ekran kaydı yardımcı programı
Comment[pl]=Narzędzie do screencastów na Androida
Comment[sv]=Android screencast-verktyg
Comment[fi]=Android-näyttötallennustyökalu
Comment[no]=Android screencast-verktøy
Comment[el]=Βοηθητικό πρόγραμμα προβολής οθόνης Android
Comment[cs]=Nástroj pro screencast Androidu
Comment[hu]=Android screencast segédprogram
Comment[uk]=Утиліта екранного трансляції Android
Comment[hr]=Android screencast uslužni program
Comment[sr]=Android screencast uslužni program
Comment[lv]=Android ekrāna pārraides utilīta
Comment[et]=Androidi ekraaniülekande utiliit
Comment[ca]=Utilitat de screencast per a Android
GenericName=Android screencast utility
GenericName[es]=Utilidad de screencast para Android
GenericName[fr]=Utilitaire de screencast Android
GenericName[de]=Android Screencast-Dienstprogramm
GenericName[it]=Utilità screencast Android
GenericName[pt]=Utilitário de screencast para Android
GenericName[ru]=Утилита скринкаста Android
GenericName[ja]=Androidスクリーンキャストユーティリティ
GenericName[ko]=Android 스크린캐스트 유틸리티
GenericName[zh-CN]=Android屏幕录制实用程序
GenericName[tr]=Android ekran kaydı yardımcı programı
GenericName[pl]=Narzędzie do screencastów na Androida
GenericName[sv]=Android screencast-verktyg
GenericName[fi]=Android-näyttötallennustyökalu
GenericName[no]=Android screencast-verktøy
GenericName[el]=Βοηθητικό πρόγραμμα προβολής οθόνης Android
GenericName[cs]=Nástroj pro screencast Androidu
GenericName[hu]=Android screencast segédprogram
GenericName[uk]=Утиліта скрінкасту Android
GenericName[hr]=Android screencast uslužni program
GenericName[sr]=Android screencast uslužni program
GenericName[lv]=Android ekrānraides utilīta
GenericName[et]=Androidi ekraaniülekande utiliit
GenericName[ca]=Utilitat de screencast per a Android
Keywords=Android, Screencast
Keywords[es]=Android, Screencast
Keywords[fr]=Android, Screencast
Keywords[de]=Android, Screencast
Keywords[it]=Android, Screencast
Keywords[pt]=Android, Screencast
Keywords[ru]=Android, Screencast
Keywords[ja]=Android、Screencast
Keywords[ko]=Android, Screencast
Keywords[zh-CN]=Android、Screencast
Keywords[tr]=Android, Ekran Kaydı
Keywords[pl]=Android, Screencast
Keywords[sv]=Android, Screencast
Keywords[fi]=Android, Screencast
Keywords[no]=Android, Screencast
Keywords[el]=Android, Screencast
Keywords[cs]=Android, Screencast
Keywords[hu]=Android, Screencast
Keywords[uk]=Android, Screencast
Keywords[hr]=Android, Screencast
Keywords[sr]=Android, Screencast
Keywords[lv]=Android, ekrānraide
Keywords[et]=Android, ekraaniülekanne
Keywords[ca]=Android, Screencast
